@import "../../Scss/Variables";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.newLesson {
    border: 15px solid $dark-green;
    border-radius: 10px;
    width: 100%;
    background-color: $white;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 30% 30%;
        padding: 15px;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "type pins"
            "subject pins"
            "publish pins";
    }
}

.type {
    padding: 1.25rem;
    grid-area: type;
    background-color: $dark-gray;
    border-radius: 1.25rem;

    &__heading {
        font-size: 1.875rem;
        font-weight: 600;
        color: #5a5a5a;
    }

    &__wrapper {
        display: flex;
        margin-top: 1.25rem;
        justify-content: space-between;
    }

    .group {
        display: flex;
        width: 17.5rem;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .group p {
        font-size: 1.563rem;
    }

    .group box-icon {
        width: 5rem;
        height: 5rem;
    }

    .indu {
        display: flex;
        width: 17.5rem;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .indu p {
        font-size: 1.563rem;
    }

    .indu box-icon {
        width: 5rem;
        height: 5rem;
    }
}

.subject {
    grid-area: subject;
    background-color: $dark-gray;
    border-radius: 1.25rem;
    padding: 1.25rem;

    &__heading {
        font-size: 1.875rem;
        font-weight: 600;
        color: #5a5a5a;
    }

    &__wrapper {
        display: flex;
        margin-top: 1.25rem;
        justify-content: space-between;
    }

    .text {
        width: 13.125rem;
        height: 5rem;
    }

    .text input {
        width: 17.5rem;
        height: 6.25rem;
        border: none;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown {
        width: 17.5rem;
        height: 6.25rem;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5a5a5a;
    }

    .dropdown input {
        background-color: $dark-gray;
        padding: 2px;
        font-size: 14px;
        cursor: pointer;
    }

    .dropdown p {
        margin-top: 10px;
        text-align: center;
    }
}

.publish {
    grid-area: publish;
    background-color: $dark-gray;
    border-radius: 1.25rem;
    padding: 1.25rem;

    &__heading {
        font-size: 1.875rem;
        font-weight: 600;
        color: #5a5a5a;
    }

    &__wrapper {
        display: flex;
        margin-top: 1.25rem;
        justify-content: space-between;
    }

    .save {
        background-color: $white;
        padding: 1.25rem;
        border-radius: 10px;
        width: 15.625rem;
        height: 6.25rem;
    }

    .save div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .save p {
        font-size: 16px;
        color: #5a5a5a;
        margin-bottom: 0.2rem;
    }

    .save button {
        border: none;
        background-color: $dark-gray;
        width: 9.375rem;
        height: 1.875rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .save button:hover {
        background-color: #196666;
        transition: 250ms;
        color: $white;
    }
}

.pins {
    grid-area: pins;
    background-color: $dark-gray;
    border-radius: 1.25rem;
    padding: 1.25rem;
    line-height: initial;

    &__list {
        counter-reset: pin;

        &-item {
            background-color: #707070;
            width: 100%;
            border-radius: 1.813rem;
            padding: 5px;
            color: $white;
            display: flex;
            gap: 10px;
            font-size: 1.813rem;
            font-weight: 200;
            margin-bottom: 1.25rem;
            display: flex;
            cursor: pointer;
            transition: 250ms;

            &-title {
                flex: 1;
            }

            &-button {
                background-color: transparent;
                border: none;
                justify-content: center;
                align-items: center;
                line-height: initial;
                margin: 0 10px;
                display: none;
            }
        }

        &-item::before {
            counter-increment: pin;
            content: counter(pin);
            background-color: $white;
            color: #707070;
            width: 2.719rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            border-radius: 100%;
        }

        &-item:hover {
            background-color: #5a5a5a;
        }

        &-item:hover .pins__list-item-button {
            display: flex;
        }
    }

    &__button {
        background-color: #707070;
        width: 100%;
        border-radius: 1.813rem;
        padding: 5px;
        color: $white;
        display: flex;
        gap: 10px;
        font-size: 1.813rem;
        font-weight: 200;
        border: none;
        align-items: center;
    }

    &__button:hover {
        background-color: #5a5a5a;
    }

    &__button::before {
        content: "+";
        height: 2.719rem;
        background-color: $white;
        color: #707070;
        width: 2.719rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        border-radius: 100%;
    }
}
