@import "../../Scss/Variables";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bigbox {
    border:15px solid #196666;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.grid-container {  
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    padding: 15px;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    "type pins"
    "subject pins"
    "publish pins"; 
  }

  .type  {
    padding: 20px;
    grid-area: type;  
    background-color: #DDDDDD;
    border-radius: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: #5A5A5A;
 
}

.typeWrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.group {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;    
}

.group p {
    font-size: 25px;
}

.group box-icon {
    width: 80px;
    height: 80px;
}

.indu {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;    
}

.indu p {
    font-size: 25px;
}

.indu box-icon {
    width: 80px;
    height: 80px;
}

.subject { 
    grid-area: subject;
    background-color: #DDDDDD;
    border-radius: 20px;
    padding: 20px;
}

.subjectWrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.text {
    width: 210px;
    height: 80px;
}

.text input {
    width: 280px;
    height: 100px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.dropdown {
    width: 280px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5A5A5A;
}

.dropdown input {
    background-color: #DDDDDD;
    padding: 2px;
    font-size: 14px;
}

.dropdown p {
  margin-top: 10px;
  text-align: center;
}

.publish { 
    grid-area: publish; 
    background-color: #DDDDDD;
    border-radius: 20px;
    padding: 20px;
}

.publishWrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.save {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

.save div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save p {
    font-size: 16px;
    color: #5A5A5A;
    margin-bottom: 0.2rem;
}

.save button {
    border: none;
    background-color: #DDDDDD;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}

.save button:hover {
    background-color: #196666;
    transition: 250ms;
    color: white;
}



.pins { 
    grid-area: pins; 
    background-color: #DDDDDD;
    border-radius: 20px;
}