@import "../../Scss/Mixins";
@import "../../Scss/Variables";

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 24rem;
    background-color: #f4f4f4;

    &__logo {
        margin-top: 2.5rem;
        width: 16rem;
    }

    &__list {
        width: 18.75rem;
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            justify-content: center;
        }

        &-item a {
            color: #686868;
            font-size: 1.6rem;
            padding: 1.5rem 1.25rem;
            display: block;
            background-color: #dddddd;
            border: 5px solid $white;
            border-radius: 1.25rem;
            width: 90%;
            transition: 250ms;

            @include font--primary(600);
        }

        &-item:nth-child(4) a {
            background-color: $white;
            border: 5px solid #707070;
        }

        &-item a:hover {
            background-color: #707070;
            color: $white;
        }
    }
}
