@import "../../Scss/Mixins";
@import "../../Scss/Variables";

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f4;
    width: 20rem;
    align-items: center;

    &__logo {
        margin-top: 2.5rem;
        width: 16rem;
    }

    &__popUpWrapper {
        margin-top: auto;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__button {
        margin-top: auto;
        background-color: #cbc7c4;
        border: 5px solid $white;
        border-radius: 1.25rem;
        font-size: 1.875rem;
        text-transform: uppercase;
        width: 90%;
        line-height: 2.188rem;

        @include font--primary(500);
    }

    &__button:hover {
        background-color: $orange;
        border: 5px solid $orange;
    }

    &__popUp {
        border: 5px solid $orange;
        background-color: $white;
        padding: 50px;
        color: $white;
        font-weight: 500;
        width: 30%;
        height: fit-content;
        display: none;
        position: absolute;
        right: -8rem;
        top: 0;
    }

    &__popUp.active {
        display: initial;
    }

    &__list {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;

        &-item {
            border-top: solid 1px $black;
        }

        &-item:last-of-type a {
            color: $orange;
        }

        &-item:hover {
            background-color: $orange;
        }

        &-item a {
            line-height: 3.75rem;
            color: #707070;
            font-size: 2.188rem;
            padding: 1rem;

            @include font--primary(500);
        }

        &-item:hover a {
            color: $white;
        }
    }
}
