@import "../../Scss/Variables";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.rapports {
    border: 15px solid $light-orange;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    height: 84%;
    padding: 1.25rem;
    overflow: scroll;
    cursor: pointer;
    transition: 250ms;

    &__container {
        background-color: #DDDDDD;
        padding: 1.25rem;
        border-radius: 1.25rem;

        &-item {
            display: flex;
            width: 100%;
            background-color: $white;
            padding: 1.25rem;
            border-radius: 1.25rem;
            gap: 1.25rem;
            color: #707070;
            margin-bottom: 1.625rem;

            img {
                width: 15.625rem;
                height: 11.25rem;
                border-radius: 5px;
            }

            h3 {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 2.5rem;
                font-size: 15px;
                width: 65%;
            }

            time {
                font-weight: 500;
            }

            &-stats {            
                display: flex;
                justify-content: space-between;
                max-width: 920px;

                &-wrapper {
                    display: flex;
                    padding-right: 20px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                &-wrapper box-icon {
                    height: 50px;
                    width: 50px;
              
                }

                &-wrapper p {
                    font-size: 20px;
                    color: #707070;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0;
                }
            }
        }

        &-item:last-of-type {
            margin-bottom: 8px;
        }

        &-item:hover {
            background-color: $light-orange;
            color: $white;
        }
    }
}